Snapchat Memories.json
{
  "name": "Snapchat Memories Imported (Filtered)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-272, 0],
      "id": "508c71ed-9f9b-4704-921b-32a07370b7ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/Users/natezeleke/Downloads/mydata~1761050655502/html/memories_history.html",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "0c95c2ed-469a-49d3-b8d1-d80f7b87054c",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "list",
        "filters": {},
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1MJG2GHprRhRHKDNV07A_Sgc2XbmSq3QC",
          "mode": "list",
          "cachedResultName": "Snapchat_memories"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [208, -200],
      "id": "list-existing-files",
      "name": "List existing Google Drive files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c0VYD1dhmiZ2q5fG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const htmlItem = items.find(i => i.binary?.data);\nconst fileListItem = items.find(i => Array.isArray(i.json.files));\n\n// Extract existing filenames from Drive\nconst existingFiles = (fileListItem?.json.files || []).map(f => f.name);\n\nif (!htmlItem || !htmlItem.binary?.data?.data) {\n  return [{ json: { error: 'No HTML binary found' } }];\n}\n\nconst html = Buffer.from(htmlItem.binary.data.data, 'base64').toString('utf8');\nconst regex = /downloadMemories\\('([^']+)'/g;\nconst urls = [];\nlet match;\n\nwhile ((match = regex.exec(html)) !== null) {\n  const url = match[1];\n  const sidMatch = url.match(/sid=([^&]+)/);\n  const sid = sidMatch ? sidMatch[1] : 'snap_' + urls.length;\n  const type = url.includes('Video') ? 'Video' : 'Media';\n  const fileName = `${sid}_${type}.mp4`;\n  urls.push({ url, fileName });\n}\n\n// Filter out already uploaded files\nconst filtered = urls.filter(u => !existingFiles.includes(u.fileName));\n\nreturn filtered.map(u => ({ json: u }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -100],
      "id": "e8bd3afd-1765-4a21-abd7-ca371b4be323",
      "name": "Code in JavaScript (with filter)",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [688, 0],
      "id": "b8843dfb-e43c-48f9-a569-371b703525cd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 0],
      "id": "9ac76c15-c6d5-4a7a-91b8-e5ad68ec018a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1MJG2GHprRhRHKDNV07A_Sgc2XbmSq3QC",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1152, 0],
      "id": "13528fb4-a714-4cdc-bf5f-ec2cc61037f2",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c0VYD1dhmiZ2q5fG",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          { "node": "Read/Write Files from Disk", "type": "main", "index": 0 },
          { "node": "List existing Google Drive files", "type": "main", "index": 0 }
        ]
      ]
    },
    "List existing Google Drive files": {
      "main": [
        [
          { "node": "Code in JavaScript (with filter)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          { "node": "Code in JavaScript (with filter)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code in JavaScript (with filter)": {
      "main": [
        [
          { "node": "Loop Over Items", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          { "node": "HTTP Request1", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          { "node": "Loop Over Items", "type": "main", "index": 0 },
          { "node": "Upload file", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
